*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: auto;
  row-gap: 20px;
  height: 200px;
  flex-direction: column;
}

.state-container{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: auto;
  row-gap: 20px;
  height: 200px;
  flex-direction: column;
}

.state-container input{
  padding: 10px;
  border-radius: 10px;
}

.state-container p{
  text-transform: uppercase;
  color: black;
}